aside{
    max-height: calc(100vh - 80px);
    top: 80px;
}

aside::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

aside::-webkit-scrollbar-track {
   @apply bg-slate-800;
}

aside::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded hover:bg-slate-600
}