<footer class="bg-slate-800 py-4 px-2 sm:px-8">
  <div class="grid grid-cols-1 gap-4 pt-8 pb-4 md:grid-cols-3">
    <div>
      <h1
        class="leading-tighter mb-4 mt-8 text-start text-4xl font-bold text-white sm:tracking-wide md:mt-0 md:px-0 md:text-5xl"
      >
        Subscribe to our<br class="block" />
        <span
          class="bg-gradient-to-r from-orange-500 to-rose-600 bg-clip-text font-bold tracking-wide text-transparent"
        >
          newsletter</span
        >
      </h1>
      <form class="relative mt-8">
        <input
          id="newsletter"
          class="peer w-full rounded-full border-slate-500 bg-transparent py-3 pl-8 pr-14 text-lg text-slate-100 placeholder:text-transparent focus:border-slate-600 focus:bg-slate-800/25 focus:ring-2 focus:ring-blue-400/20"
          type="email"
          placeholder="Email"
          autocomplete="off"
          aria-labelledby="newsletter"
        />
        <label
          for="newsletter"
          class="absolute left-8 top-0 -translate-y-1/2 rounded-md bg-slate-800 px-2 text-sm tracking-wide text-slate-400 transition-transform duration-100 peer-placeholder-shown:translate-y-1/2 peer-placeholder-shown:px-0 peer-placeholder-shown:text-lg peer-focus:-translate-y-1/2 peer-focus:px-2 peer-focus:text-sm"
          >Email address</label
        >
        <button
          type="button"
          class="absolute right-2 top-1/2 -translate-y-1/2 rounded-full bg-gradient-to-tr from-orange-500 to-rose-500 p-2 text-lg font-semibold text-white shadow-sm transition-shadow hover:opacity-95 focus:shadow-xl focus:shadow-rose-500/20 active:opacity-90"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z"
            />
          </svg>
        </button>
      </form>
    </div>
    <div class="md:col-start-3">
      <h1
        class="leading-tighter mb-4 mt-8 text-end text-4xl font-bold text-white sm:tracking-wide md:mt-0 md:px-0 md:text-5xl"
      >
        <span
          class="bg-gradient-to-r from-orange-500 to-rose-600 bg-clip-text font-bold tracking-wide text-transparent"
        >
          Comet.</span
        >
      </h1>
      <hr class="my-3 border border-slate-700" />
      <div class="mt-4 md:mt-0">
        <p class="text-end text-lg font-medium leading-relaxed text-slate-500">
          All images and icons are property of their
          <br class="hidden xl:block" />
          <span
            class="bg-gradient-to-r from-orange-500 to-rose-600 bg-clip-text font-bold tracking-wide text-transparent"
            >respective owners.</span
          >
        </p>
      </div>
    </div>
  </div>
</footer>
