<footer class="bg-slate-900 py-4 px-2 sm:px-8">
    <nav class="flex justify-between">
        <a [routerLink]="''" class="inline-flex items-end shrink-0"
          ><img
            class="w-12 h-12 mr-2"
            src="../../../assets/images/comet.svg"
            alt="comet"
        /></a>
        <div class="relative text-slate-500 w-3/4 md:w-1/3 lg:w-80">
            <p class="text-sm font-medium tracking-wide">
                2022 &COPY; COMET - All rights reserved. 
            </p>
        </div>
      </nav>
</footer>
