<section class="py-8 px-2 sm:px-8">
  <div class="items-center md:flex md:space-x-8">
    <div
      class="flex-1"
      [ngClass]="{ 'sm:order-1': isOdd, 'sm:order-2': !isOdd }"
    >
      <img
        *ngIf="
          pageInfo.categories === undefined || pageInfo.categories === [];
          else showCategories
        "
        [src]="pageInfo.image"
        alt="categories"
        class="mx-auto w-1/2 rounded-2xl"
      />
      <ng-template #showCategories>
        <div class="mt-5 grid grid-cols-2 gap-3 sm:mr-12 sm:gap-8">
          <app-index-category-card
            *ngFor="let category of pageInfo.categories"
            [src]="category.image"
            [category]="category.name"
          ></app-index-category-card>
        </div>
      </ng-template>
    </div>
    <div
      class="flex-1"
      [ngClass]="{ 'sm:order-1': !isOdd, 'sm:order-2': isOdd }"
    >
      <h2
        class="mb-4 mt-8 text-center text-4xl font-bold leading-10 text-white sm:font-semibold sm:leading-relaxed sm:tracking-normal md:mt-0 md:px-0 md:text-start"
      >
        {{ pageInfo.info[0] }} <br class="hidden xl:block" />
        <span
          class="bg-gradient-to-r from-orange-500 to-rose-600 bg-clip-text font-bold tracking-wide text-transparent"
        >
          {{ pageInfo.info[1] }}</span
        >
        <span class="hidden sm:inline">{{ pageInfo.emoji }}</span>
      </h2>
      <div class="mt-4 md:mt-0">
        <p
          class="text-center text-xl leading-relaxed text-slate-500 sm:text-2xl md:text-start"
        >
          {{ pageInfo.description[0] }} <br class="hidden xl:block" />
          <span
            class="bg-gradient-to-r from-orange-500 to-rose-600 bg-clip-text font-bold tracking-wide text-transparent"
            >{{ pageInfo.description[1] }}</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
