<div
  class="@container"
  infiniteScroll
  [infiniteScrollDistance]="0"
  [infiniteScrollUpDistance]="30"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScrolled()"
>
  <div class="grid p-4 @lg:grid-cols-2 @4xl:grid-cols-3 gap-x-4 gap-y-6">
    @for (item of content; track item.id ) {
    <!-- conditions to render item in their respective component -->
    @if (item.id.videoId || isString(item.id)) {
    <app-video-card [video]="item"></app-video-card>
    }@else if (item.id.channelId) {
    <app-channel-card [channel]="item"></app-channel-card>
    }@else {
    <app-playlist-card [playlist]="item"></app-playlist-card>
    } }
  </div>
</div>
<div
  [ngClass]="{ hidden: fetched }"
  class="mx-auto my-24 h-32 w-32 animate-spin rounded-full border-8 border-rose-500 border-t-transparent"
></div>
