<div
  class="flex flex-wrap justify-center gap-6 lg:gap-8"
  infiniteScroll
  [infiniteScrollDistance]="0"
  [infiniteScrollUpDistance]="0"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScrolled()"
>
  <ng-container *ngFor="let item of content">
    <app-video-card
      *ngIf="item.id.videoId || isString(item.id)"
      [video]="item"
    ></app-video-card>
    <app-channel-card
      *ngIf="item.id.channelId"
      [channel]="item"
    ></app-channel-card>
    <app-playlist-card
      *ngIf="item.id.playlistId"
      [playlist]="item"
    ></app-playlist-card>
  </ng-container>
  <ng-container *ngIf="!content || content.length == 0">
    <p class="text-white py-24">Oops! Nothing found</p>
  </ng-container>
</div>
<div
  [ngClass]="{ hidden: fetched }"
  class="mx-auto my-24 h-40 w-40 animate-spin rounded-full border-8 border-rose-500 border-t-transparent"
></div>
