<app-hero-section></app-hero-section>
<section class="bg-blue-900/20 py-4 px-2 sm:px-8">
  <!-- <h3
    class="mb-8 mt-4 bg-gradient-to-tr from-orange-500 to-rose-500 bg-clip-text text-center text-2xl font-bold capitalize leading-relaxed tracking-wide text-transparent"
  >
    Designed and developed using
  </h3> -->
  <div
    class="mx-auto flex flex-col items-center justify-center space-y-8 lg:w-4/5 lg:flex-row lg:space-x-8 lg:space-y-0"
  >
    <div
      class="flex h-32 w-64 shrink-0 flex-col justify-center rounded-lg border border-slate-800 px-4 py-8 transition-all duration-200 hover:border-blue-900/20 hover:bg-blue-900/30"
    >
      <img
        src="../../../assets/images/rapid-api.svg"
        alt="rapid-api"
        class="mx-auto w-40"
      />
    </div>
    <div
      class="flex h-32 w-64 shrink-0 flex-col flex-wrap justify-center rounded-lg border border-slate-800 px-4 py-8 transition-all duration-200 hover:border-blue-900/20 hover:bg-blue-900/30"
    >
      <img
        src="../../../assets/images/tailwind-css.svg"
        alt="tailwind-css"
        class="mx-auto w-20"
      />
    </div>
    <div
      class="flex h-32 w-64 shrink-0 flex-col flex-wrap justify-center rounded-lg border border-slate-800 px-4 py-8 transition-all duration-200 hover:border-blue-900/20 hover:bg-blue-900/30"
    >
      <img
        src="../../../assets/images/angular.svg"
        alt="angular"
        class="mx-auto w-20"
      />
    </div>
  </div>
</section>
<section class="py-8 px-2 sm:px-8">
  <h2
    class="mb-4 text-2xl font-semibold leading-relaxed text-white sm:text-3xl"
  >
    Search For Videos And
    <span
      class="bg-gradient-to-r from-orange-500 to-rose-600 bg-clip-text font-bold tracking-wide text-transparent"
      >Have fun</span
    >
    🎉
  </h2>
  <div
    class="h-96 rounded-3xl bg-cover bg-no-repeat shadow-lg"
    style="background-image: url(../../../assets/images/search-background.png)"
  ></div>
</section>
<section class="py-8 px-2 sm:px-8">
  <h2
    class="mb-4 text-2xl font-semibold leading-relaxed text-white sm:text-3xl"
  >
    Browse through categories
    <span
      class="bg-gradient-to-r from-orange-500 to-rose-600 bg-clip-text font-bold tracking-wide text-transparent"
      >with ease</span
    >
    🌐
  </h2>
  <div>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      Music
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      Movies
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      Gaming
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      Education
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      Health
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      News
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      Trending
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      Sports
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      Fashion and beauty
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full bg-slate-800 px-3 py-1 font-semibold text-slate-400 shadow-sm hover:bg-slate-700 hover:text-slate-300"
    >
      Live
    </span>
    <span
      class="text-md my-2 mr-2 inline-flex cursor-default rounded-full px-3 py-1 font-semibold text-slate-400"
    >
      and many more...
    </span>
  </div>
</section>
