<section class="flex flex-col-reverse md:flex-row items-center py-12 relative space-x-12  divide-slate-800">
  <div class="flex-1 mt-8 md:mt-0 relative">
    <h1 class="text-3xl sm:text-4xl sm:leading-relaxed leading-relaxed md:text-5xl capitalize text-white md:leading-normal mb-5">
      <span
        class="bg-gradient-to-r from-orange-500 to-rose-600 text-transparent bg-clip-text font-bold tracking-wide"
        >Comet</span
      >
      - your personal <br /><span
        class="bg-gradient-to-r from-orange-500 to-rose-600 text-white px-2 font-bold uppercase decoration-clone"
        >multimedia space</span
      >
    </h1>
    <p class="text-xl sm:text-2xl text-slate-500 leading-relaxed">
        Watch youtube videos with completed redesigned interface <span class=" font-bold tracking-wide bg-gradient-to-r from-orange-500 to-rose-600 text-transparent bg-clip-text ">You would love.</span>
    </p>
    <div class="mt-4 sm:mt-8">
        <button class="text-lg sm:text-xl capitalize font-medium tracking-wider py-3 px-4 bg-gradient-to-r from-orange-500 to-rose-600 rounded-lg text-white hover:opacity-95 shadow-sm focus:ring-4 focus:ring-rose-500/25 focus:shadow-xl focus:shadow-rose-500/25 transition-shadow active:opacity-90">Get started</button>
    </div>
  </div>
  <div class="flex-1">
    <img class="w-2/4 md:w-96 lg:translate-x-10" src="../../../assets/images/comet.svg" alt="comet" />
  </div>
</section>
