<section class="py-4 sm:px-8 sm:pt-8">
  <section *ngIf="playlistDetails" class="flex justify-center mb-12">
    <div class="mt-2">
      <div class="flex items-start px-2">
        <div class="w-full text-center">
          <p
            class="text-sm font-medium uppercase tracking-widest text-rose-500"
          >
            Playlist
          </p>
          <p
            class="text-center text-3xl sm:text-4xl leading-snug sm:leading-relaxed font-medium tracking-normal text-slate-300 line-clamp-2"
            [title]="playlistDetails.snippet.title"
            [innerHTML]="playlistDetails.snippet.title"
          ></p>
          <p
            class="text-center my-3 text-base font-normal tracking-normal text-slate-500 line-clamp-4 md:line-clamp-none max-w-4xl"
            [innerHTML]="playlistDetails.snippet.description"
            [title]="playlistDetails.snippet.description"
          ></p>
        </div>
      </div>
    </div>
  </section>
  <div>
    <app-content *ngIf="videos" [content]="videos"></app-content>
  </div>
</section>
