<section class="relative isolate mb-60 h-[219px]" *ngIf="channel !== undefined">
  <div class="absolute inset-0 -z-[9] bg-black/90"></div>
  <img
    class="absolute -z-10 h-full w-full object-cover"
    [src]="channel.brandingSettings.image?.bannerExternalUrl || '../../../assets/images/1215608_72.jpg'"
    [alt]="channel.snippet.title"
  />
  <div class="relative bottom-0 translate-y-1/2">
    <div>
      <img
        class="mx-auto h-40 w-40 rounded-full shadow-md"
        [src]="
          channel.snippet.thumbnails.high.url || '../../../assets/images/1215608_72.jpg'
        "
        [alt]="channel.snippet.title"
      />
    </div>
    <div class="mt-2">
      <div class="flex items-start px-2">
        <div class="w-full text-center">
          <p
            class="text-xs font-medium uppercase tracking-widest text-rose-500"
          >
            Channel
          </p>
          <p
            class="text-center text-2xl font-medium tracking-normal text-slate-300 line-clamp-2"
            [title]="channel.snippet.title"
            [innerHTML]="channel.snippet.title"
          ></p>
          <p
            class="text-center text-sm font-normal tracking-normal text-slate-500"
          >
            {{ channel.statistics.videoCount }} Videos
          </p>
          <div
            class="mt-4 flex justify-center space-x-4 text-center text-sm font-medium tracking-normal text-slate-400"
          >
            <span class="rounded-full bg-red-500/10 py-1 px-2 text-red-500">
              {{ channel.statistics.subscriberCount | number }} Subscribers
            </span>
            <span class="rounded-full bg-slate-800 py-1 px-2">
              {{ channel.statistics.viewCount | number }} Views
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="relative py-4 pt-4 sm:pt-8 sm:pr-8 sm:pl-8">
  <div
    class="text-md font-md mb-8 flex justify-center space-x-8 font-medium uppercase tracking-wider text-slate-500"
  >
    <a
      class="relative after:-bottom-2 after:left-1/2 after:h-1 after:w-8 after:-translate-x-1/2 after:rounded after:bg-red-500"
      [routerLink]="'uploads'"
      [routerLinkActive]="'text-slate-400 after:absolute'"
      >Uploads</a
    >
    <a
      class="relative after:-bottom-2 after:left-1/2 after:h-1 after:w-8 after:-translate-x-1/2 after:rounded after:bg-red-500"
      [routerLink]="'playlists'"
      [routerLinkActive]="'text-slate-400 after:absolute'"
      >Playlists</a
    >
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</section>
